fastapi
uvicorn
prisma
chromadb
jinja2
pymupdf4llm
python-dotenv
pypdf
pydantic
langchain
langchain-core
langchain-chroma
langchain-huggingface
sentence-transformers
langchain_community
langchain-google-genai
langchain-groq
langgraph
